@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #d4b996;
}
body {
  color: #d4b996;
  font-family: "Noto Sans KR", sans-serif;
}
footer {
  background-color: #392305;
  width: 100%;
}
footer .container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
footer .container .firstbox {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container .firstbox .logo {
  width: 20%;
  font-size: 30px;
}
footer .container .firstbox .sns {
  width: 15%;
}
footer .container .firstbox .sns ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .firstbox .sns ul li {
  position: relative;
  margin-right: 20px;
}
footer .container .firstbox .sns ul li::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: #6d523b;
  border-radius: 50%;
  z-index: 0;
}
footer .container .firstbox .sns ul li i {
  font-size: 20px;
  cursor: pointer;
  position: relative;
  z-index: 10;
  transition: 1s;
}
footer .container .firstbox .sns ul li i:hover {
  color: #fff;
  transform: scale(1.2);
}
footer .container .secondbox {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 30px 0;
}
footer .container .secondbox .left {
  width: 70%;
}
footer .container .secondbox .left .top {
  color: #a08c72;
}
footer .container .secondbox .left .top a {
  transition: 1s;
}
footer .container .secondbox .left .top a:hover {
  color: #fff;
}
footer .container .secondbox .left .top ul {
  display: flex;
  margin: 20px 0;
}
footer .container .secondbox .left .top ul li {
  margin-right: 20px;
}
footer .container .secondbox .left .top ul:first-child li {
  padding-right: 30px;
  font-weight: bold;
}

footer .container .secondbox .left .bottom {
  color: #776854;
  font-size: 13px;
}
footer .container .secondbox .left .bottom > div {
  margin: 5px 0;
}
footer .container .secondbox .right {
  width: 15%;
  display: flex;
  flex-direction: column;
}
footer .container .secondbox .right .top {
  margin: 10px 0;
  font-size: 28px;
  font-weight: bold;
}
footer .container .secondbox .right .top div:last-child {
  font-size: 22px;
}
footer .container .secondbox .right .bottom ul li {
  margin: 10px 0;
}

footer .container .secondbox .right .bottom ul li span {
  margin-right: 10px;
}
